{% extends 'admin_nav.html' %}
{% load static %}

{% block content %}
<div class="dashboard">
    <div class="query-detail">
        <div class="table-header">
            <h3>Query <span>Details</span></h3>
        </div>
        <table>
            <tr>
                <th>Name</th>
                <td>{{ contact.name }}</td>
                <th>Contact No.</th>
                <td>{{ contact.contact }}</td>
            </tr>
            <tr>
                <th>Email ID</th>
                <td>{{ contact.emailid }}</td>
                <th>Subject</th>
                <td>{{ contact.subject }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td colspan="3">{{ contact.message }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td colspan="3">{{ contact.msgdate }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
